/* styles.css */

body {
    background-color: hsl(25, 75%, 47%);
}

.pagetitle {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsl(25, 90%, 40%)
}

#img {
    text-align: center;
}

.list {
    text-align: center;
    background-color: hsl(25, 95%, 60%);
}

p {
    text-align: center;
    font-size: 20px;
}